body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

text.label {
  font: bold 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 25px;
  height:25px;
  margin: none;
  text-anchor: middle;
  vertical-align: middle;
  padding: none;
}
